body{
    font-family: 'Cormorant Garamond', serif;
}

.row {
    height: 100vh;
}

.titleSection {
    background-image: url('../assets/bg-1.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleColor{
    color: white;
}

.menuSection {
    background-image: url('../assets/bg-2.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.menuBg{
    background-color: #f1ebe5;
    width: 50%;
    padding: 10px;
}
.menuTitleStyles{
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 15.5px;
    border:1px gray solid;
    color: white;
    background-color: black;
    margin-bottom: 30px;
    font-weight: bold;
}

.menuItemStyles {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 15.5px;
    border:1px gray solid;
    color: black;
    margin-top:30px;
    margin-bottom: 30px;
}

.menuItemStyles:first-child {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 15.5px;
    border:1px gray solid;
    color: black;
    margin-top:0px;
    margin-bottom: 20px;
}

.menuItemStyles:last-child {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 15.5px;
    border:1px gray solid;
    color: black;
    margin-top:20px;
    margin-bottom: 0px;
}

.menuItemStyles:hover {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 15.5px;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    color: white;
}

.introSection{
    background-color: pink;
}

.introColor{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.textleft{
    font-family: 'Cormorant Garamond', serif;
   
}
.textColor{
    
    color: white;
    font-weight: bolder;
    
}

.textOverview{
    justify-content: center;
    top: 50px;
    
}

.titleTech{
    text-align: center;
    color:#ffffe0
}

.techSection{
    background-color: #f4c2c2;
}

.titleBen{
    text-align: center;
    color: white;
    font-style: italic;
}

.benSection{
    background-color: #f4c2c2;
}

.titleRe{
    text-align: center;
    color: aliceblue;
}

.reSection{
    background-color: #f4c2c2;
}

.aboutSection{
    background-color: #f4c2c2;
}

.titleAbout{
    text-align: center;
    font-weight: bolder;
    color: white
}

.whyAbout{
    font-weight: bold;
}

.textOverview{
    font-weight: bold;
    color: #f1ebe5;
}

.listSelfCare{
    font-weight: bold;
    color: #f1ebe5;
}

.type1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: #ffffe0;
}

.type2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: #fffacd;
}

.type3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: #fff8dc;
}
.tech1{
    font-style: italic;
    color: #fffdd0 ;
}

.tech2{
    font-style: italic;
    color: #fffdd0 ;
}

.tech3{
    font-style: italic;
    color: #fffdd0 ;
}

.ben1{
    color: #fffacd;
}

.ben2{
    color:#fffdd0
}

.ben3{
    color:#fffacd
}

.re1{
    color: #fffacd;

}

.re2{
    color: #fffdd0;
}

.whyAbout{
    color: #fffdd0;
    font-style: italic;
}

.whyAbout2{
    color: #fffdd0;
    font-style: italic;
}

.whyAbout3{
    color: #fffdd0;
    font-style: italic;
}

.overall{
    color: #fffdd0;
    font-style: italic;
}

.aboutLessons{
    color: #fffdd0;
    font-style: italic;
}